@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');


@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');


/*영어 폰트 20개*/
.roboto {font-family: 'Roboto', sans-serif;}
.opensans {font-family: 'Open Sans', sans-serif;}
.montserrat {font-family: 'Montserrat', sans-serif;}
.oswald {font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
}
.notosans {font-family: 'Noto Sans', sans-serif;}
.lato {font-family: 'Lato', sans-serif;}
.sourcesanspro {font-family: 'Source Sans Pro', sans-serif;}
.ptsans {font-family: 'PT Sans', sans-serif;}
.playfairdisplay {font-family: 'Playfair Display', serif;}
.nunito {font-family: 'Nunito', sans-serif;}

.notoserif {font-family: 'Noto Serif', serif;}
.cairo {font-family: 'Cairo', sans-serif;}
.dmsans {font-family: 'DM Sans', sans-serif;}
.poppins {font-family: 'Poppins', sans-serif;}
.worksans {font-family: 'Work Sans', sans-serif;}
.ptserif {font-family: 'PT Serif', serif;}
.lora {font-family: 'Lora', serif;}
.rubik {font-family: 'Rubik', sans-serif;}
.piazzolla {font-family: 'Piazzolla', serif;}
.quicksand {font-family: 'Quicksand', sans-serif;}


/*한글 폰트 10개*/
.notosanskr {font-family: 'Noto Sans KR', sans-serif;}
.nanumgothic {font-family: 'Nanum Gothic', sans-serif;}
.nanummyeongjo {font-family: 'Nanum Myeongjo', serif;}
.nanumpenscript {font-family: 'Nanum Pen Script', cursive;}
.nanumgothiccoding {font-family: 'Nanum Gothic Coding', monospace;}
.nanumbrushscript {font-family: 'Nanum Brush Script', cursive;}
.notoserifkr {font-family: 'Noto Serif KR', serif;}
.dohyeon {font-family: 'Do Hyeon', sans-serif;}
.songmyung {font-family: 'Song Myung', serif;}
.blackhansans {font-family: 'Black Han Sans', sans-serif;}